<?xml version="1.0" encoding="UTF-8" ?>
<module>
<name>codwfeeplus</name>
    <displayName><![CDATA[Latin Product URLs]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Converts non latin product urls to latin.]]></description>
    <author><![CDATA[Sakis Gkiokas]]></author>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
